<ion-view class="about-view">
  <ion-content scroll="false" class="has-header">
    <div class="padding height100-percent">
      <div class="row row-top height40-percent padding-zero mt-40">
        <div class="col padding-zero">
          <h1 class="logo-title-splash">atlas</h1>
          <span class="text-center block-field lts-small mb-50">your local assistant</span>
          <div class="social-buttons">
            <span class="version-tag">Version 1.0</span>
            <a href="#" onclick="window.open('http://www.facebook.com/goodatlas1', '_system');"  class="button button-block facebook-btn">Like us on Facebook</a>
            <a href="#" onclick="window.open('http://www.twitter.com/good_atlas', '_system');"   class="button button-block facebook-btn twitter-btn">Follow us on Twitter</a>
          </div>
        </div>
      </div>
      <div class="row row-bottom height50-percent padding-zero">
        <div class="col padding-zero">
          <p class="text-center"> Copyright 2016, Atlas Guide, Inc. <br>
            All rights reserved. </p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
