<!-- <ion-view title="Help">
  <ion-content class="padding has-header help-section">
    <h1 class="headin-faq mt-5">FAQ</h1>
    <div class="mb-20">
      <strong>What is Atlas?</strong>
      <p>Atlas is team of local experts that acts as your local assistant. Our multi-lingual operators can help take care of all the things that might be more easily done in the local language and take the friction out of your daily life. </p>
    </div>
    <div class="mb-20">
      <strong>What can I request?</strong>
      <p>You can send us a request for anything, and we will take care of the rest. Here are a few examples of things you can get help with.</p>
      <p> 
        - Delivery services<br> 
        - food<br> 
        - grocery<br>
        - laundry<br> 
        - Online shopping<br>
        - Travel bookings<br>
        - planes<br>
        - trains<br>
        - car<br>
        - service<br>
        - taxis<br> 
        - Restaurant reservations<br> 
        - Doctor appointments<br> 
        - Send flowers or a gift<br> 
        - Housework and home cleaning<br> 
        - Help with visa or bank issues<br> 
        - Find a tutor or freelancer<br>
        </p>
    </div>
    <div class="mb-20">
      <strong>When are you available?</strong>
      <p>Our operating hours are from 10 AM – 10 PM, 7 days a week.</p>
    </div>
    <div class="mb-20">
      <strong>How do I request a task?</strong>
      <p>Send us a message and tell us what you need help with. We’ll provide you with the best price or recommendation.</p>
    </div>
    <div class="mb-20">
      <strong>Who is fulfilling my tasks?</strong>
      <p>All Atlas operators are full team members, not contractors or third-party service providers, in order to maintain the highest standards of service and safeguard your personal information. We also have local partnerships to extend our capabilities, but all bookings and customer facing interactions are handled in-house.</p>
    </div>
    <div class="mb-20">
      <strong>How long does it take to fulfill my task?</strong>
      <p>We strive to provide real-time responses to inquiries during business hours. Any requests received during off-hours will be handled as soon as we’re back online. </p>
      <p>Tasks fulfillment time can vary by request and service provider, but we’re with you every step of the way to ensure you get the best possible outcome. </p>
    </div>
    <div class="mb-20">
      <strong>What if I'm not happy with the result of my task?</strong>
      <p>Message an operator or email us at [help@atlas] with what went wrong. We’ll work with the vendor and do everything we can to make it right.</p>
    </div>
    <div class="mb-20">
      <strong>How do I know if I’m getting a good price?</strong>
      <p>If you’re looking for the cheapest price, we will make sure to search through the best means possible. If you find a better price prior to purchase somewhere else, definitely let us know.</p>
    </div>
    <div class="mb-20">
      <strong>How much does it cost?</strong>
      <p>[ ]</p>
    </div>
    <div class="mb-20">
      <strong>How do I pay?</strong>
      <p>We take all major international credit cards. Save your credit card info in our payment section of the app. We’ll deal with the vendors and charge your card once your task has been completed.</p>
      <p>We also accept bank transfers from domestic bank accounts.</p>
    </div>
    
    <div class="mb-20">
      <strong>How is my credit card and payment information stored?</strong>
      <p>All payment information is handled by a third-party payment provider using bank-level security. We do not store your credit card information or share it with our third-party vendors.</p>
    </div>
  </ion-content>
</ion-view>
-->

<ion-view title="Help">
<ion-content class="padding has-header help-section">
<h1 class="headin-faq mt-10">Frequently Asked Questions</h1>
<h2 class="headin-faq">What is Atlas?</h2>
<p>Atlas is team of local experts that acts as your virtual assistant. Our multi-lingual operators can take care of your tasks that might be more easily fulfilled in the local language, taking some of the friction out of your daily life.</p>
<h2>How do I request a task?</h2>
<p>Send us a message and tell us what you need. A human operator will respond as soon as possible to assess your needs and provide the best solution.</p>
<h2>What can I request?</h2>
<p>Here are a few examples of things we can help you with:</p>
<ul class="indent">
  <li>Delivery services - food, grocery, and laundry</li>
  <li>Online shopping</li>
  <li>Travel bookings - planes, trains, car service, taxis</li>
  <li>Restaurant reservations</li>
  <li>Send flowers or a gift</li>
  <li>SIM cards</li>
  <li>Home cleaning, moving and repair services</li>
  <li>Help with visa or bank issues</li>
  <li>Find a tutor or freelancer</li>
  <li>Place a phone call on your behalf</li>
  <li>Translations and interpretations</li>
</ul>
<h2>Who is fulfilling my tasks?</h2>
<p>All Atlas operators are full team members, meaning they are carefully vetted, highly trained and surrounded by tight controls through our technology platform in order to safeguard your personal information and maintain the highest standards of service. </p>
<p>We work collaboratively as a team to combine our local networks and expertise and collectively maintain an information database with solutions to your needs. Try us for a few small things, build a relationship with us, and we'll get better and more personalized for you over time. </p>
<h2>How much does it cost?</h2>
<p>If there is a fee attached, we will always provide a quote before fulfilling your task. Price structure is as follows:</p>
<ul class="indent">
  <li>FREE for basic info and translations</li>
  <li>food delivery - 2,000 KRW</li>
  <li>service fee - from 5% to a cap of 20%</li>
</ul>
<p>We are also piloting a Premier membership subscription.
  <a href="mailto:hello@goodatlas.com">Email us</a>
  for more information.</p>
  <h2>When are you available?</h2>
  <p>While we’re in beta our operating hours are from 10 AM – 8 PM Korean Standard Time, Monday - Friday. Any requests received during off-hours will be handled as soon as we’re back online.</p>
  <h2>How long does it take to fulfill my task?</h2>
  <p>We strive to provide real-time responses to inquiries during business hours. Time for task fulfillment can vary by request and service provider, but we’re with you every step of the way to ensure you get the best possible outcome.</p>
  <h2>How do I know if I’m getting a good price?</h2>
  <p>For any price sensitive request, we do a thorough search through all of our local networks to make sure you’re getting the best possible price. If you find a lower price somewhere else, let us know and we’ll make it right.</p>
  <h2>What if I'm not happy with the result of my task?</h2>
  <p>Message an operator or email us at
    <a href="mailto:support@goodatlas.com">support@goodatlas.com</a>
    with what went wrong. We’ll work with the vendor and do everything we can to make it right.</p>
    <h2>How do I pay?</h2>
    <p>We take all major international credit cards. Save your credit card info in the Payments section of our app. We’ll deal with the vendors and charge your card once your task has been completed. Credit card transactions will incur a 3% transaction fee.</p>
    <p>We accept bank transfers from domestic bank accounts with no transaction fee.</p>
    <h2>How is my credit card and payment information stored?</h2>
    <p>Your security is our utmost priority. All payment information is handled by a third-party payment provider using bank-level security. We do not store your credit card information nor share it with our third-party vendors.</p>



  </ion-content>
</ion-view>
