<ion-view class="splash-view">
  <ion-content scroll="false">
    <div class="padding splash-bg">
      <div class="row row-bottom height40-percent">
        <div class="col">
          <h1 class="logo-title-splash">atlas</h1>
          <span class="text-center block-field lts-small">your local assistant</span>
        </div>
      </div>
      <div class="row row-bottom height50-percent">
        <div class="col">
          <a ui-sref="app.signup" class="button button-block signup-btn"> Sign Up </a>
          <a ui-sref="app.signin" class="button button-clear button-block login-btn"> Log In </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>