<ion-modal-view class="forgot-password-view">

 <form class="form-field-style" ng-submit="signinCtrl.forgotPassword(fpForm);" name="fpForm" novalidate>
  <fieldset>
    <header class="bar bar-header  signup-header">
      <button ng-click="signinCtrl.closeModal();" class="button-icon back-arrow close-arrow" type="button"></button>
      <h1 class="title">Forgot Password</h1>
      <button class="button blue-color-btn" type="submit">Send</button>
    </header>
    <ion-content class="has-header padding">    
        <span class="fpwd-title">
          <!-- Enter your email below to receive password reset settings -->
          Enter your email <br> to reset your password
        </span>
        <div class="list">
          <label class="item item-input item-style">
            <input id="forgotPasswordEmail" type="email" placeholder="Email" validate-email="" name="email" ng-model="signinCtrl.fp_user.email" required="">
            <error-messages ng-show="(fpForm.$submitted || fpForm.email.$touched)" ng-messages="fpForm.email.$error"></error-messages>
          </label>
        </div>  
        <!-- <ion-list class="list-style-field">
            <ion-item class="item-input"> 
            <input type="email" placeholder="Email" name="email" ng-model="signinCtrl.fp_user.email" required="">
            <error-messages ng-show="(fpForm.$submitted || fpForm.email.$touched)" ng-messages="fpForm.email.$error"></error-messages>
          </ion-item>
        </ion-list>  -->     
      </ion-content>
     </fieldset>
  </form>
</ion-modal-view>


