<ion-view title="Reset Password" class="chatsession-view">
<div class="bar bar-header signup-header">
  <a ui-sref="app.resetPasswordKey" class="back-arrow back-arrow-blue">
  </a>
  <h1 class="signup-title">Reset Password</h1>
</div>
  <ion-content class="has-header padding">
  <form class="form-holder form-field-style" ng-submit="resetnewpasswordCtrl.resetNewPassword(respassForm);" name="respassForm" novalidate>
    <div class="list list-style-field">
       <label class="item item-input item-style">
            <input type="Password" placeholder="New Password" minlength="6" name="new_password" ng-model="resetnewpasswordCtrl.rnp_user.new_password" required=""/>
            <error-messages ng-show="(respassForm.$submitted || respassForm.new_password.$touched)" ng-messages="respassForm.new_password.$error"></error-messages>
       </label>
        <label class="item item-input item-style">
            <input type="Password" placeholder="Confirm Password" name="confirm_password" ng-model="resetnewpasswordCtrl.rnp_user.confirm_password" compare-to="resetnewpasswordCtrl.rnp_user.new_password" required=""/>
            <error-messages ng-show="(respassForm.$submitted || respassForm.confirm_password.$touched)" ng-messages="respassForm.confirm_password.$error"></error-messages>
       </label>
       <button type="submit" class="button button-block blue-btn mt-45 mb-20">Reset Password</button>
      </div>

    </form>
  </ion-content>
</ion-view>
