<ion-view title="Change Password">
  <ion-content class="has-header padding">
  <form class="form-holder form-field-style" ng-submit="cp.changePassword(cpForm);" name="cpForm" novalidate>
    <div class="list list-style-field">
       <label class="item item-input item-style">
          <input type="Password" placeholder="Old Password" minlength="6" name="old_password" ng-model="cp.user.old_password" required="" />
          <error-messages ng-show="(cpForm.$submitted || cpForm.old_password.$touched)" ng-messages="cpForm.old_password.$error"></error-messages>
       </label>
        <label class="item item-input item-style">
            <input type="Password" placeholder="New Password" minlength="6" name="new_password" ng-model="cp.user.new_password" required=""/>
            <error-messages ng-show="(cpForm.$submitted || cpForm.new_password.$touched)" ng-messages="cpForm.new_password.$error"></error-messages>
       </label>
        <label class="item item-input item-style">
            <input type="Password" placeholder="Confirm Password" name="confirm_password" ng-model="cp.user.confirm_password" compare-to="cp.user.new_password" required=""/>
            <error-messages ng-show="(cpForm.$submitted || cpForm.confirm_password.$touched)" ng-messages="cpForm.confirm_password.$error"></error-messages>
       </label>
       <button type="submit" class="button button-block blue-btn mt-45 mb-20">Change</button>
      </div>

    </form>
  </ion-content>
</ion-view>
